/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
/*html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

/*  Set the font */
/*body {
  font-family: "Helvetica", sans-serif;
}*/

/* STYLES */
/* Write your CSS below */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

html{
    margin: 0 auto;
    padding: 0;
}

body{
    font-family: "Open Sans", sans-serif;font-size: 16px;

}
header{
    background-image: url(../images/apple-pie.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
  
}
h1{
    color: white;
    font-size: 3.5rem;
    font-weight: 100px;
}

p{
    padding: 2rem 4rem;
}

.recipe img{
    width: 80%;
    display: block;
    margin: 0 auto;


}
.recipeS{
    font-size: 1rem;
    font-weight: 100px;
    margin: 0 0 2rem 0;
    text-align: justify;
}

h2{
    font-size: 1.5rem;
    font-weight: 300px;
    margin-bottom: 2rem; 
}

   .ing ul{
    list-style-type: "-";
    margin: 0 0 3rem 2rem;
    
   } 

.ing il{
    font-size: 0.8rem;
    font-weight: 60%;
}

.cook img{
    width: 60%;
    display: block;
    margin: 0 auto;

}
.prep{
    list-style-type: none;
    margin: 0 0 3rem 2rem;
    
    
}


.direct li{
    font-size: 1rem;
    font-weight: 300px;
    margin: 0.5rem 0;
}


